<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      >User<fa-icon [icon]="faPersonWalking"></fa-icon>ist
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Menu
          </a>
          <ul class="dropdown-menu mr-2" aria-labelledby="navbarDropdown">
            <li *ngFor="let item of menuItems">
              <a class="dropdown-item" href="#">{{ item }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>
